In [1]:
import pandas as pd

In [42]:
data= pd.read_csv('adult.data', header= None)

In [43]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## 1

In [5]:
data[9].value_counts()

 Male      21790
 Female    10771
Name: 9, dtype: int64

## 2

In [7]:
data[data[9]==' Female'][0].mean()

36.85823043357163

## 3

In [13]:
data[data[13]==' Germany']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K
280,22,Private,34918,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
767,22,Private,151790,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,Germany,<=50K
1009,26,Private,109186,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,<=50K
1142,59,Federal-gov,212448,HS-grad,9,Widowed,Sales,Unmarried,White,Female,0,0,40,Germany,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32074,30,Private,318749,Assoc-voc,11,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,35,Germany,<=50K
32101,45,Private,174794,Bachelors,13,Separated,Prof-specialty,Unmarried,White,Female,0,0,56,Germany,<=50K
32141,34,Private,193344,Some-college,10,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
32236,26,Private,323044,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,Germany,>50K
32341,74,Self-emp-not-inc,199136,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,15831,0,8,Germany,>50K

In [14]:
(len(data[data[13]==' Germany'])/len(data))*100

0.42074874850281013

## 4

In [16]:
data[data[14]==' >50K'][0].mean()

44.24984058155847

In [17]:
data[data[14]==' >50K'][0].std()

10.51902771985177

## 5

In [19]:
data[data[14]==' <=50K'][0].mean()

36.78373786407767

In [20]:
data[data[14]==' <=50K'][0].std()

14.020088490824813

## 6

In [23]:
data[data[14]==' >50K'][3].value_counts()

 Bachelors       2221
 HS-grad         1675
 Some-college    1387
 Masters          959
 Prof-school      423
 Assoc-voc        361
 Doctorate        306
 Assoc-acdm       265
 10th              62
 11th              60
 7th-8th           40
 12th              33
 9th               27
 5th-6th           16
 1st-4th            6
Name: 3, dtype: int64

## 7

In [25]:
data[data[8]==' Amer-Indian-Eskimo'][0].max()

82

## 8

In [27]:
data[(data[14]==' >50K') & (data[9]==' Male')][5].value_counts()

 Married-civ-spouse       5938
 Never-married             325
 Divorced                  284
 Separated                  49
 Widowed                    39
 Married-spouse-absent      23
 Married-AF-spouse           4
Name: 5, dtype: int64

## 9

In [29]:
data[12].max() #max worked hours

99

In [30]:
len(data[data[12]==data[12].max()])

85

In [32]:
len(data[(data[12]==data[12].max())&(data[14]==' >50K')])/len(data[data[12]==data[12].max()])*100

29.411764705882355

## 10

In [34]:
data[(data[13]==' Japan')&(data[14]==' >50K')][12].mean()

47.958333333333336

In [35]:
data[(data[13]==' Japan')&(data[14]==' <=50K')][12].mean()

41.0